* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url('/images/ppg-heart.gif');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Fascinate", "cursive", sans-serif;
  color: white;
  position: relative;
  overflow: hidden;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1%;
}
main > * {
  position : relative;
  z-index:2;
}
main:after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background-color:rgba(0,0,0,0.4);
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 0 0% 0;
  font-size: 3rem;
}
    #input{
        font-size: 1.5em;
        margin-top: 1.5%;
        border: none;
        padding: 0.5rem 1rem;
        outline: none;
        font-family: "Fascinate", "cursive", sans-serif;
    }
    #input:focus{
      border-bottom: red 0.3rem solid;
    }
   
    #button{
        font-size:larger;
        margin-top: 1rem;
        border-radius: 0.8rem;
        padding: 0.8rem 3rem 0.3rem 3rem;
        background-color: red;
        font-family: "Fascinate", "cursive", sans-serif;
        color: white;
    }
    #button:hover{
        background-color: rgb(245, 195, 203);
        transition: all 0.3s;
        cursor: pointer;
    }
    

.traits {
  display: flex;
  padding-top: 1%;
  color: white;
  padding-bottom: 2%;
}
.response{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.traits li {
  list-style-type: none;
  padding-bottom: 2%;
  font-size: 1.7rem;
}

/* Mobile Responsiveness */
@media only screen and  (max-width: 320px){
  body {
    background-image: url('/images/ppg-heart.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-family: "Fascinate", "cursive", sans-serif;
    color: white;
    max-width: 100%;
  }
  header h1{
    text-align: center;
    font-size: 1rem;
    padding-top: 20%;
  }
}
main h1 {
  text-align: center;
  font-size: 1rem;
  padding-right: 5%;
}

input{
  font-size: 1em;
  margin-top: 1.5%;
  border-radius: 5%;
  font-family: "Fascinate", "cursive", sans-serif;
}
#traits {
display: flex;
padding-top: 3%;
color: white;
font-size:1em;
}
#container {
border-radius: 5%;
background-color: rgba(20, 19, 19, 0.649);
display: flex;
justify-content: center;
align-items: center;
max-width: 100%;
height: auto;
margin-top: 1%;
}
/* have to figure out how to fix second background image in mobile */
#btn{
font-size:1em;
margin: 1% 5% 0 5%;
border-radius: 2em;
padding: 3% 3% 3% 3%;
background-color: red;
font-family: "Fascinate", "cursive", sans-serif;
color: white;
}
@media  only screen and (max-width: 480px){
  body {
    background-image: url('/images/ppg-heart.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-family: "Fascinate", "cursive", sans-serif;
    color: white;
    max-width: 100%;
  }
  header h1{
    text-align: center;
    font-size: 5rem;
    padding-top: 20%;
  }
  main h1 {
    text-align: center;
    font-size: 2rem;
    padding-right: 5%;
  }

  input{
    font-size: 1.75em;
    margin-top: 1.5%;
    border-radius: 5%;
    font-family: "Fascinate", "cursive", sans-serif;
}
#traits {
  display: flex;
  padding-top: 3%;
  color: white;
  font-size:1em;
}
#container {
  border-radius: 10%;
  background-color: rgba(20, 19, 19, 0.649);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  margin-top: 1%;
}
/* have to figure out how to fix second background image in mobile */
#btn{
  font-size:2em;
  margin: 1% 5% 0 5%;
  border-radius: 2em;
  padding: 3% 3% 3% 3%;
  background-color: red;
  font-family: "Fascinate", "cursive", sans-serif;
  color: white;
}
}
@media only screen and (max-width: 900px) {
  body {
    background-image: url('/images/ppg-heart.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-family: "Fascinate", "cursive", sans-serif;
    color: white;
    width: 100%;
  } 
  header h1{
    text-align: center;
    font-size: 2rem;
    padding-top: 20%;
  }
  main h1 {
    text-align: center;
    font-size: 2rem;
    padding-right: 5%;
  }
  input{
    font-size: 1em;
    margin-top: 1.5%;
    border-radius: 5%;
    font-family: "Fascinate", "cursive", sans-serif;
}
#btn{
  font-size:1rem;
  margin: 1% 5% 0 5%;
  border-radius: 2em;
  padding: 1% 1% 1% 1%;
  background-color: red;
  font-family: "Fascinate", "cursive", sans-serif;
  color: white;
}
#traits {
  text-align: center;
  padding-top: 3%;
  color: white;
  font-size:2em;
}
#container {
  border-radius: 10%;
  background-color: rgba(20, 19, 19, 0.649);
  width: 90%;
  height: auto;
  margin-top: 1%;
}
  @media  only screen and (max-width: 1200px){
    header h1{
      text-align: center;
      font-size: 1.5rem;
      padding-top: 20%;
    }
    main h1 {
      text-align: center;
      font-size: 2rem;
      padding-right: 5%;
    }
    #btn{
      font-size:1rem;
      margin: 1% 5% 0 5%;
      border-radius: 2em;
      padding: 1% 1% 1% 1%;
      background-color: red;
      font-family: "Fascinate", "cursive", sans-serif;
      color: white;
    }
  }
}